<div class="questionContainer">
  <div class="flex flex-col" *ngIf="questions[currentQuestion]; else quizresults">
    <div class="question">
      <p [innerHTML]="questions[currentQuestion].text"></p>
    </div>
    <div class="answerContainer">
      <button
        *ngFor="let answer of questions[currentQuestion].answers"
        class="btn"
        (click)="validate(answer)"
        [class.correct]="
          answerChosen && questions[currentQuestion].correct_answer === answer
        "
        [class.wrong]="
          answerChosen && questions[currentQuestion].correct_answer !== answer
        "
        [disabled]="answerChosen"
        [class.selected]="chosenAnswer && chosenAnswer === answer"
      >
        <p [innerHTML]="answer"></p>
      </button>
    </div>
    <button *ngIf="answerChosen" class="continue" (click)="changeQuestion()">Weiter</button>
  </div>
  <ng-template #quizresults>
    <div>Ergebnisse</div>
  </ng-template>
</div>
