<div class="navbar">
  <div class="leftbar">
    <ng-container *ngFor="let navlink of navlinks">
      <a *ngIf="navlink.status" class="btn">
        <fa-icon [icon]="navlink.icon" class="icon"></fa-icon>
        <p class="inline">{{navlink.text}}</p>
      </a>
    </ng-container>
  </div>
  <div class="rightbar">
    <ng-container *ngFor="let rightlink of rightlinks">
      <a *ngIf="rightlink.status" class="btn">
        <fa-icon [icon]="rightlink.icon" class="icon"></fa-icon>
        <p class="inline">{{rightlink.text}}</p>
      </a>
    </ng-container>
  </div>
</div>